* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgb(209, 205, 188);
  }

  html {
    font-size: 62.5%; 
   }

  .cabecera {
    font-size: 2.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
  }
  
 
  header {
    width: 100%;
    height: 100%;
    border: 10px solid rgb(177, 94, 0);
    padding: 5% 5%;
  }
  

  .conteiner {
    display: grid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    grid-template-columns: repeat(3, 1fr);
  }

  .caption{
    font-size: 1.3rem;
    text-align: justify;
     color: black;
     background:  linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0));
     text-align: left;
     padding: 0px 0.8em;
     width: 100%;
  }

  .content {

       padding: 20px; margin: 10px; border: 5px solid black; float: left; width: 90%; 
    }

  .imgn{
    width: 100%;
    height: 90%;
    object-fit: contain;
    }


 

